//- page.pug
doctype html
html
  head
    include ../../page-elements/views/head.pug
  body
    #page.page
      include ../../page-elements/views/header.pug
      #content.content
        block content
      include ../../page-elements/views/modallayer.pug
      include ../../page-elements/views/footer.pug
    script(src='/page-elements/script.js')
