//- widgets/form/address.pug
mixin address(pretext, groupname, fieldprefix)
  + group(pretext, groupname, [{
      type: 'text',
      name: fieldprefix + 'street',
      class: 'address-street',
      placeholder: __('Street')
    },
    {
      type: 'text',
      name: fieldprefix + 'housenumber',
      class: 'address-housenumber',
      placeholder: __('Number')
    },
    {
      type: 'text',
      name: fieldprefix + 'zip',
      class: 'address-zip',
      placeholder: __('Zip')
    },
    {
      type: 'text',
      name: fieldprefix + 'city',
      class: 'address-city',
      placeholder: __('City')
    }]
  )
