/*
 * Styles for vCard
 *
 * (c) Uwe Gerdes, entwicklung@uwegerdes.de
 */

@import './includes/layout';

.app {
  padding: 0 0 20px 0;
  position: relative;

  .config {
    display: inline-block;
    vertical-align: top;
    width: 25%;

    .testCases {
      list-style: none;
      padding: 0;

      .testCase-name {
        margin: 0 0 0.5em;
      }

      .testCase-steps {
        list-style: none;
        padding: 0;
      }

      .testCase-step {
        list-style: none;
        padding: 0 0 0.2em 1em;
      }
    }
  }

  .queryStep {
    display: inline-block;
    font-size: 0.8em;
    margin: 0 0 0.5em;
    width: 50%;
  }

  .screenshot {
    border: 4px inset #aaaaaa;
  }

  .configs {
    list-style: none;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30%;

    .config {
      width: 100%;

      .label {
        font-size: 1.2em;
      }

      .config-files {
        list-style: none;
        padding: 5px 0 0 15px;
      }
    }
  }

  .small {
    font-size: 0.8em;
  }

  .error {
    color: #cc0000;

    a:link,
    a:visited,
    a:active {
      color: #cc0000;
    }

  }
}
