.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0 0 1%;
}

.content {
  flex: 1 0 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 2em 1em;
  width: ~'calc(100% - 2em)';
}

.footer {
  flex: 0 0 1%;
}

.error {
  background: #ffcccc;
  border: 1px solid #ff6666;
  font-size: 1.25em;
  margin: 0 0 0.5em;
  padding: 1em;
}
