//- widgets/colorpicker.pug
mixin colorpicker()
  .colorpicker
    .colorpicker-button(data-toggle=".colorpicker-position, .colorpicker-color, canvas#imgCanvas, img.screenshot, .clickRect", title=__('Colorpicker'))
    .colorpicker-position.hidden
    .colorpicker-color.hidden
