//- widgets/launch.pug
mixin launch()
  if locals.configFile && config
    span.launch&attributes({
      title: __('launch'),
      'data-xhr': '/e2e/run/?config=' + configFile,
      'data-xhr-response': '#output-content',
      'data-toggle': '#output'
    })=__(config.name)
    if queryCase
      span= ' - ' + queryCase
      if queryStep
        span= ': ' + queryStep
  else
    =__('Select Test Suite')
