//- widgets/screenshot.pug
mixin screenshot()
  img.screenshot(src = '/' + resultsPath + '/' + queryViewport + '/' + queryCase + '/' + queryStep + '.png')
  - var clickRect = results.testCases[queryCase].steps[queryStep].clickRect
  if clickRect
    .clickRect(style='left: ' + clickRect.x + 'px; top: ' + clickRect.y + 'px; width: ' + clickRect.width + 'px; height: ' + clickRect.height + 'px;')
