//- footer.pug
block footer
  #footer.footer
    #footer-content.footer-content
      p#copyright.copyright &copy; 2019
        = " "
        a(href='mailto:entwicklung@uwegerdes.de') Uwe Gerdes
  if hostname && livereloadPort
    script(src='https://' + hostname + ':' + livereloadPort + '/livereload.js')
