//- widgets/form.pug

include form/fieldcontainer.pug
include form/input.pug
include form/group.pug
include form/address.pug

mixin form(form, action)
  form.form(method='POST', action=action, name=form.name, id=(form.id ? form.id : 'form'))
    each section, section_name in form.sections
      fieldset.fieldset(class=section_name)
        if section.label
          legend= __(section.label)
        each field in section.fields
          if field.type == 'group'
            + group(field.label, field.name, field.fields)
          else if field.type == 'address'
            + address(field.label, field.name, field.prefix)
          else if field.type == 'hidden'
            + input(Object.assign({}, field))
          else
            + fieldcontainer(Object.assign({}, field))
