			<div id="header" class="header">
				<div id="header-content" class="header-content flex-wrapper">
					<div class="flex-block flex-left">
						<ul class="header-breadcrumbs">
							<li class="header-breadcrumb">
								<a class="header-breadcrumb-link" href="/app/">Home</a>
							</li>
						</ul>
					</div>
					<div class="flex-block flex-right">
						<% if (typeof session != "undefined") { %>
							<div id="login-status" class="login-status">
								<% if ((typeof session.userdata != "undefined")) { %>
									<div class="login-status-ok">
										Angemeldet über <%= session.oauthProvider %> als <%= session.userdata.name %>
									</div>
									<div class="login-status-logout">
										<a class="logout-link" href="/login/logout/">abmelden</a>
									</div>
								<% } else { %>
									<div class="login-status-login">
										<a class="login-link" href="/login/">anmelden</a>
									</div>
								<% } %>
							</div>
						<% } %>
					</div>
				</div>
			</div>
